/testApk_idDownload.pyc
/testApp.pyc
/testAppCommentsList.pyc
/testAppIfUpdate.pyc
/testCatlist.pyc
/testDiscussComment.pyc
/testFileInfo.pyc
/testFindApp.pyc
/testIcon_idDownload.pyc
/testLastUpdate.pyc
/testRecommend.pyc
/testScreen_idDownload.pyc
/testShowApp.pyc
